* {}

body {
  margin    : 10px;
  font-size : 16px;
}

main {
  background-color : rgb(235, 235, 235);
}

.container {
  display  : inline-block;
  position : relative;
  width    : 99vw;
  height   : 50vw;
  margin   : 0 auto;
}

.containerUno {
  display          : inline-block;
  width            : 99vw;
  height           : 100px;
  border-radius    : 25px 0px;
  background-color : rgba(29, 42, 221, 0.5);
}

.containerLogo {
  position : absolute;
  top      : 20px;
  left     : 15px;
}

.menu {
  position : absolute;
  top      : 25px;
  right    : 25px;
  padding  : 0;
}

.menu li {
  display          : inline-block;
  margin-right     : 30px;
  padding          : 5px 10px;
  border-radius    : 3px;
  background-color : rgb(219, 235, 241);
  list-style       : none;
}

.menu li a {
  text-decoration : none;
}

.containerDos {
  display       : block;
  width         : 99vw;
  border-radius : 0 25px;
}

.motto {
  z-index    : 1;
  position   : absolute;
  top        : 200px;
  width      : 99vw;
  text-align : center;
  font-size  : 2.5em;
}

.mainSearch {
  z-index          : 1;
  display          : block;
  position         : absolute;
  top              : 655px;
  width            : 40vw;
  margin           : 0 28vw;
  padding          : 15px;
  border           : solid blue 1px;
  border-radius    : 3px;
  background-color : rgba(255,255,255,0.75);
  text-align       : center;
}

.banner {
  z-index       : 0;
  width         : 99vw;
  border-radius : 0 25px;
}

/* ------------------------------------------------------ */

.infographs {
  display          : flex;
  width            : 99vw;
  height           : margin:0 auto;
  border-radius    : 25px 0;
  background-color : rgba(151, 207, 153, 0.63);
  align-items      : center;
  flex-direction   : row;
  flex-wrap        : wrap;
  justify-content  : space-between;
}

.infographOne {
  position   : relative;
  width      : 300px;
  height     : 300px;
  margin     : 0 auto;
  margin-top : 35px;
}

.infographTwo {
  position   : relative;
  width      : 300px;
  height     : 300px;
  margin     : 0 auto;
  margin-top : 35px;
}

.infographThree {
  position   : relative;
  width      : 300px;
  height     : 300px;
  margin     : 0 auto;
  margin-top : 35px;
}

.infoGraphImg {}

/* ------------------------------------------------------ */

.userStories {
  display          : flex;
  width            : 99vw;
  height           : 300px;
  margin           : 0 auto;
  border-radius    : 0 25px;
  background-color : rgb(218, 161, 170);
  flex-direction   : row;
  flex-wrap        : nowrap;
  justify-content  : space-around;
}

.userStoryOne {
  width       : 30vw;
  margin-left : 5px;
  color       : grey;
  overflow    : hidden;
  text-align  : left;
  text-indent : 5px;
  font-size   : 23px;
}

.userStoryTwo {
  width       : 30vw;
  margin-left : 5px;
  color       : grey;
  overflow    : hidden;
  text-align  : left;
  text-indent : 5px;
  font-size   : 23px;
}

.userStoryThree {
  width            : 30vw;
  margin-left      : 5px;
  color            : grey;
  overflow         : hidden;
  text-align       : left;
  text-indent      : 5px;
  font-size        : 23px;
  font-size-adjust : auto;
}

.story {
  text-align : justify;
  line-height: 150%;
}

.name {
  text-align : right;
  font-style : italic;
}

.stars {
  color      : rgb(255, 255, 255);
  text-align : right;
  font-size  : 43px;
}

/* ------------------------------------------------------ */

.map {
  width            : 99vw;
  height           : 500px;
  margin           : 0 auto;
  border-radius    : 0 25px;
  background-color : rgb(252, 250, 187);
}

.mapOne {
  display         : flex;
  justify-content : center;
}

/* ------------------------------------------------------ */

.bottomContainer {
  width            : 99vw;
  height           : 200px;
  border-radius    : 0 25px;
  background-color : rgb(187, 252, 209);
}

.bottomContainerList {
  display : flex;
}

.bottomList {
  align-items     : center;
  flex            : auto;
  justify-content : space-between;
}

li {
  align-items     : center;
  justify-content : space-between;
  line-height     : 210%;
  list-style-type : none;
}

/* ------------------------------------------------------ */

.footer {
  width            : 99vw;
  height           : 100px;
  margin           : 0 auto;
  color            : white;
  border-radius    : 25px 25px 0 0;
  background-color : rgb(31, 41, 133);
  text-align       : center;
}

.footer p {
   position: relative;
   top: 50px;
}

/* --- MOBILE ------------------------------------------- */

/* MEDIUM SIZE */

@media (max-width: 900px) {
  .containerTop {
    background-color : green;
  }
}

/* SMALL SIZE */

@media (max-width: 450px) {
  .containerTop {
    background-color : red;
  }
}
