/* ---------- General styles ---------- */

* {}

body {
  margin    : 0;
  font-size : 16px;
}

main {}

/* ---------- Header styles ---------- */

.largeHeaderContainer {
  z-index         : 100;
  display         : flex;
  width           : 99.8vw;
  height          : 75px;
  flex-flow       : row nowrap;
  justify-content : space-around;
  /* background-color : rgba(226, 226, 226, 0.55); */
}

.logoContainer {
  display         : flex;
  width           : 10vw;
  flex-flow       : nowrap row;
  justify-content : center;
}

.logo {}

.secondaryMenuContainer {}

.secondaryMenu {
  display         : flex;
  width           : 55vw;
  margin-top      : 25px;
  padding         : 0;
  flex-flow       : row nowrap;
  justify-content : flex-start;
}

.secondaryMenu li {
  margin-left     : 30px;
  list-style-type : none;
}

.secondaryMenu li a {
  color           : rgb(60, 60, 60);
  text-decoration : none;
  font-family     : 'Roboto Condensed',
                    sans-serif;
}

.mainMenuContainer {
  width : 30vw;
}

.mainMenu {
  display         : flex;
  margin-top      : 25px;
  padding         : 0;
  flex-flow       : row nowrap;
  justify-content : flex-end;
}

.mainMenu li {
  display      : inline;
  margin-right : 20px;
}

.mainMenu li a {
  padding          : 5px;
  color            : rgb(60, 60, 60);
  border           : solid 0.5px rgb(60, 60, 60);
  border-radius    : 9px;
  background-color : rgb(238, 238, 238);
  box-shadow       : 0 2px 0 rgba(19,25,40,0.1);
  text-decoration  : none;
  font-family      : 'Roboto Condensed',
                     sans-serif;
}

.mainMenu li a.mainMenuFavorite {
  padding          : 7px;
  color            : white;
  border-color     : #ed565c;
  background-color : #ed565c;
  box-shadow       : 3px 3px 3px rgba(19,25,40,0.2);
}

/* ---------- mainScreen styles ---------- */

.mainScreenContainer {
  position : relative;
  width    : 99.8vw;
  height   : 350px;
  /* background-color : rgba(226, 226, 226, 0.55); */
}

.mainScreenContainer h1 {
  margin      : 0;
  padding-top : 10vh;
  color       : rgb(88, 88, 88);
  text-align  : center;
  font-family : 'Quicksand',
                sans-serif;
  font-size   : 3.5em;
}

.mainScreenContainer h1 strong {
  color : rgb(88, 88, 88);
}

.mainScreenContainer h1 strong span {
  color          : rgb(20, 13, 101);
  vertical-align : middle;
  font-size      : 1.5em;
}

.mainScreenContainer h2 {
  color       : #52baaf;
  text-align  : center;
  font-family : 'Bubbler One',
                sans-serif;
  font-size   : 2em;
}

.mottoContainer {
  width  : 90vw;
  height : 250px;
  margin : 0 auto;
}

.primMotto {
  color          : #52baaf;
  vertical-align : middle;
  font-size      : 1.1em;
}

.secondMotto {
  color          : #3b2786;
  vertical-align : top;
  font-family    : 'Bubbler One',
                   sans-serif;
  font-size      : 1.5em;
}

.tercMotto {
  color : #1686ea;
}

.searchFieldContainer {
  width  : 50vw;
  height : 15vh;
  margin : 0 auto;
}

.searchField {
  box-sizing          : border-box;
  width               : 50vw;
  margin-top          : 30px;
  padding             : 12px 20px 12px 20px;
  border              : 2px solid #ccc;
  border-radius       : 4px;
  background-color    : white;
  background-repeat   : no-repeat;
  background-position : 10px 10px;
  box-shadow          : 7px 7px 7px rgba(19,25,40,0.2);
  font-size           : 15px;
}

/* ------------------------------------------------------ */

.infogContainer {
  display          : flex;
  width            : 99.9vw;
  height           : 55vh;
  margin-top       : 50px;
  background-color : RGBA(188, 189, 189, .35);
  align-items      : center;
  flex-wrap        : wrap;
  justify-content  : space-around;
}

.infog-1 {
  padding          : 10px 25px;
  border-radius    : 15px;
  background-color : RGBA(254, 254, 254, 1.00);
}

.infog-2 {
  padding          : 10px 25px;
  border-radius    : 15px;
  background-color : RGBA(178, 222, 218, 1.00);
}

.infog-3 {
  padding          : 10px 25px;
  border-radius    : 15px;
  background-color : RGBA(188, 189, 189, 1.00);
}

.infog-4 {
  padding          : 10px 25px;
  border-radius    : 15px;
  background-color : RGBA(237, 86, 92, 1.00);
}

.infoP {
  text-align  : center;
  font-family : 'Bubbler One',
                sans-serif;
  font-size   : 1.1em;
}

.infoDescContainer {
  display         : flex;
  width           : 99.9vw;
  height          : 150px;
  text-align      : center;
  align-items     : baseline;
  flex-flow       : nowrap row;
  flex-wrap       : wrap;
  justify-content : space-around;
}

.infoDesc {
  width       : 225px;
  font-family : 'Bubbler One',
                sans-serif;
}

.footerContainer {
  width            : 99.9vw;
  height           : 30vh;
  background-color : #05407c;
}

/* --------------------- CONTACT FORM STYLES ----------------------------------- */

.mainContactFormContainer {
  width            : 99.9vw;
  height           : 65vh;
  height           : 550px;
  background-color : #ebeded;
}

.FAQsLinkContainer {
  position    : relative;
  top         : 50px;
  width       : 600px;
  height      : 50px;
  margin      : 0 auto;
  text-align  : center;
  font-family : 'Quicksand',
                sans-serif;
}

.FAQsLinkContainer a {
  color           : #757575;
  text-decoration : none;
  font-size       : 1.2em;
}

.FAQsLinkContainer a span {
  color          : #ed565c;
  vertical-align : baseline;
  font-size      : 1.25em;
}

.contactFormContainer {
  position : relative;
  top      : 50px;
  width    : 50vw;
  height   : 50vh;
  margin   : 0 auto;
}

.contactFormContainerParagraph {
  margin-left : 20px;
  color       : #757575;
  font-family : 'Quicksand',
                sans-serif;
}

.contactForm {
  display     : flex;
  align-items : center;
  flex-flow   : nowrap column;
}

.topicDropDown {
  width         : 20vw;
  margin-bottom : 15px;
}

.textArea {
  width         : 45vw;
  margin-bottom : 25px;
}

.submitButton {
  margin-bottom : 20px;
}

.phoneContact {
  margin-bottom   : 15px;
  text-decoration : none;
}

.phoneContact span {
  color           : #757575;
  text-decoration : none;
}

.emailContact {
  color           : #757575;
  text-decoration : none;
}

.socialNetworks {
  text-align : center;
}

.socialNetworksIcons {
  display         : flex;
  margin          : 0 100px;
  align-items     : center;
  flex-flow       : nowrap row;
  justify-content : space-around;
}

.facebookLink {}

.twitterLink {}

/* --------------------- FAQs STYLES ----------------------------------- */

.dashboardContainer {
  display          : flex;
  width            : 60vw;
  height           : 300px;
  margin           : 0 auto;
  background-color : rgb(182, 190, 194);
  align-items      : center;
  flex-flow        : row wrap;
  justify-content  : space-around;
}

.aboutUs {
  width            : 150px;
  height           : 150px;
  border-radius    : 5px;
  background-color : #ed565c;
}

.aboutUs p {
  text-align  : center;
  font-family : 'Quicksand',
                sans-serif;
}

.dataPrivacy {
  width            : 150px;
  height           : 150px;
  border-radius    : 5px;
  background-color : #ed565c;
}

.dataPrivacy {
  text-align  : center;
  font-family : 'Quicksand',
                sans-serif;
}

.verifiedProf {
  width            : 150px;
  height           : 150px;
  border-radius    : 5px;
  background-color : #ed565c;
}

.verifiedProf {
  text-align  : center;
  font-family : 'Quicksand',
                sans-serif;
}

.frequentQuestions {
  color       : #ed565c;
  font-family : 'Quicksand',
                sans-serif;
}

.questionsAndAnswers {
  font-family : 'Quicksand',
                sans-serif;
}

.questionsAndAnswers ul li {
  color : #05407c;
}

.questionsAndAnswers ul p {
  color : #757575;
}

/**
 * --------------------- LOGIN / REGISTER STYLES
 * -----------------------------------
 */

.loginRegisterContainer {
  width      : 99.9vw;
  height     : 550px;
  margin-top : 50px;
}

.loginContainer {
  width            : 40vw;
  height           : 200px;
  margin           : 0 auto;
  border-radius    : 7px;
  background-color : #009688;
}

.loginContainer input {
  width         : 25vw;
  height        : 25px;
  margin-top    : 20px;
  border-radius : 5px;
  margin-left: 95px;
}

.loginForm {}

.submit {
   width: 100px;
}

.registerContainer {
  width            : 40vw;
  height           : 100px;
  margin           : 0 auto;
  border-radius    : 7px;
  background-color : RGBA(237, 86, 92, 0.75);
}

.registerContainer p {
  position    : relative;
  font-family : 'Quicksand', sans-serif;
  left: 100px;
  margin-top: 20px;
}

.registerForm {
margin-left: 200px;
}

.registerButton {
}

/* --------------------- FOOTER FORM STYLES ----------------------------------- */

.footerContainer {}
